*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.keystore
!debug.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.aab
*.aar
*.ap_
*.dex
*.class
bin/
gen/
out/
build/
.gradle/
local.properties
*.keystore
!debug.keystore
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace
xcuserdata/
*.xcscmblueprint
.cxx/
*.swp
*.swo
*~